@charset "utf-8";

.wrapper { /* 그리드시스템 */
    position: relative; /* position; absoiute;의 기준 */
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: skyblue; */
}

@font-face {
    font-family: 'Cartoon Slam';
    src: url('../font/Cartoon-Slam.woff');

    font-family: 'TT투게더';
    src: url('../font/TT투게더.woff');

    font-family: 'Leferi Base Regular';
    src: url('../font/LeferiBaseRegular.woff');

    font-family: 'Leferi Base Bold';
    src: url('../font/LeferiBaseBold.woff');
}



/* ===== header ===== */
header {
    padding: 23px;
    background-color: black;
}

/* gnb */
.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.gnb > li {
    font-size: 34px;
    line-height: 78px;
    font-family: 'Cartoon Slam';
}

.gnb a {
    color: white;
}

.gnb a:hover {
    color: #6aa9ff;
}

/* ===== main ===== */
/* section === profile */
.profile {
    position: relative;
}

.profile::after {
    position: absolute;
    top: 0; left: 0;
    content: '';
    width: 100%; height: 100%;
} 

/* img-container1 */
.img-container1 > img {
    width: 100%;
}

/* profile_div */
.profile_div {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 1080px; height: 585px;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.profile_div > img {
    margin-top: 22px;
    margin-bottom: 68px;
    margin-left: 150px;
}

/* info */
.info {
    padding-top: 68px;
    padding-bottom: 68px;
    padding-right: 150px;
    margin-left: 42px;
}

.info > h2 {
    font-family: 'Cartoon Slam';
    font-size: 78px;
    margin-bottom: 40px;
}

.info li {
    margin-bottom: 10px;
}

.info p {
    font-family: 'TT투게더';
    font-size: 19px;
}

.info .blank {
    margin-left: 40px;
}

/* film */
.film {
    width: 100%; height: 156px;
    background-color: black;
    margin-bottom: 100px;
}

/* section === story */
/* story */
.story {
    margin-bottom: 100px;
}

/* title-bar1 */
.title-bar1 {
    width: 100%; height: 100px;
    background-color: black;
}

.title-bar1 .story-title {
    color: white;
    font-size: 70px;
    padding: 19px 0;
    line-height: 70px;
    font-family: 'Cartoon Slam';
}

/* img-container2 */
.img-container2 {
    position: relative;
}

.img-container2::after {
    position: absolute;
    top: 0; left: 0;
    content: '';
    width: 100%; height: 100%;
}

/* story_bg */
.story_bg > img {
    width: 100%;
}

/* story_div */
.story_div {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.year {
    width: 1180px;
    position: absolute;
    top: -90px; left: -20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.year > p {
    font-family: 'Cartoon Slam';
    font-size: 29px;
}

.story_div > img:first-child {
    width: 1136px;
}

/* select-icon */
.select-icon {
    display: flex;
}

.select-icon > img {
    display: none;
}

.select-icon > .start-img {
    position: absolute;
    top: 0; left: 0;
}

.select-icon > .raise-img {
    position: absolute;
    top: 0; left: 540px;
}

.select-icon > .decide-img {
    position: absolute;
    top: 0; left: 1081px;
}

/* start, build, dicide */
.start,
.raise,
.decide {
    display: none;
    position: absolute;
    top: 27px; left: 53px;
    width: 487px; height: 392px;
    padding: 40px 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.start p:first-child,
.raise p:first-child,
.decide p:first-child { 
    font-family: 'Cartoon Slam';
    font-size: 28px;
    margin-bottom: 10px;
}

.start hr,
.raise hr,
.decide hr {
    border: solid 1px white;
    margin-bottom: 10px;
}

.start strong,
.raise strong,
.decide strong {
    font-family: 'Leferi Base Bold';
    font-size: 22px;
    margin-bottom: 10px;
}

.start p:last-child,
.raise p:last-child,
.decide p:last-child {
    font-size: 17px;
}

/* section === skills */
.skills {
    margin-bottom: 100px;
}

/* title-bar2 */
.title-bar2 {
    width: 100%; height: 100px;
    background-color: black;
}

.title-bar2 .skills-title {
    color: white;
    font-size: 70px;
    padding: 19px 0;
    line-height: 70px;
    font-family: 'Cartoon Slam';
}

/* img-container4 */
.img-container4 {
    position: relative;
}

.img-container4::after {
    position: absolute;
    top: 0; left: 0;
    content: '';
    width: 100%; height: 100%;
}

.img-container4 > img {
    width: 100%;
}

/* graph */
.graph {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.graph > .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.graph > .row:first-child {
    margin-top: 100px;
}

.graph > .row > div {
    display: flex;
    align-items: center;
}

.graph .Pr-bar {
    width: 450px; height: 60px;
    background-color: #8c5ba4;
}

.graph .Ae-bar {
    width: 450px; height: 60px;
    background-color: #a87eb7;
}

.graph .Ai-bar {
    width: 450px; height: 60px;
    background-color: #df871e;
}

.graph .Ps-bar {
    width: 450px; height: 60px;
    background-color: #76c8da;
}

.graph .Ht-bar {
    width: 450px; height: 60px;
    background-color: #fe7a62;
}

.graph .Cs-bar {
    width: 450px; height: 60px;
    background-color: #009ce5;
}

.graph .Js-bar {
    width: 450px; height: 60px;
    background-color: #ffcb3f;
}

.graph .Jq-bar {
    width: 450px; height: 60px;
    background-color: #ed4747;
}

/* section === portfolio */
.portfolio {
    margin-bottom: 0;
}

/* title-bar3 */
.title-bar3 {
    width: 100%; height: 100px;
    background-color: black;
    margin-bottom: 100px;
}

.title-bar3 .portfolio-title {
    color: white;
    font-size: 62px;
    padding: 19px 0;
    line-height: 70px;
    font-family: 'Cartoon Slam';
}

/* sub-title1 */
.sub-title1 {
    margin-bottom: 150px;
    font-size: 76px;
    font-family: 'Cartoon Slam'
}

/* video 중복태그 */
.video1,
.video2,
.video3 {
    display: flex;
    margin-bottom: 200px;
}

.video1 > .wrapper,
.video2 > .wrapper,
.video3 > .wrapper {
    display: flex;
    position: relative;
}

.video-box {
    width: 706px; height: 468px;
    background-color: black;
}

.video1 strong,
.video2 strong,
.video3 strong {
    font-size: 50px;
    font-family: 'Leferi Base Bold';
    margin-bottom: 20px;
}

.video1 p,
.video2 p,
.video3 p {
    font-size: 24px;
    font-family: 'Leferi Base Bold';
}

/* video1 */
.content1 {
    margin-left: 50px;
}

.content1 > img {
    position: absolute;
    top: 229px; left: 1000px;
}

/* video2 */
.video2 > .wrapper {
    justify-content: space-between;
}

.content2 {
    margin-right: 50px;
}

.content2 > img {
    position: absolute;
    top: 312px; left: 0;
}

/* video3 */
.content3 {
    margin-left: 50px;
}

.content3 > img {
    position: absolute;
    top: 259px; left: 900px;
}